---
import UpcomingEvent from './UpcomingEvent.astro';
import { getLatestEvent } from '../../utils/fetchData';

const latestEvent = await getLatestEvent();

// Using upcomingEvents variable to check if latest event has ended before today
// If that's the case Event card won't be shown by editing the classes
let upcomingEvents = true;
const currDate = new Date();
if (latestEvent.endDate >= currDate) {
  upcomingEvents = true;
} else {
  upcomingEvents = false;
}

const event = {
  startDate: latestEvent.startDate.getDate().toString().padStart(2, '0'),
  startMonth: latestEvent.startDate.toLocaleString('default', {
    month: 'short',
  }),
  endDate: latestEvent.endDate.getDate().toString().padStart(2, '0'),
  endMonth: latestEvent.endDate.toLocaleString('default', { month: 'short' }),
  title: latestEvent.name,
  descr: latestEvent.summary,
  imgsrc: latestEvent.imgUrl,
};
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  id="curve"
  class="green"
  fill="none"
  preserveAspectRatio="none"
  viewBox="0 0 1680 40"
>
  <path d="M0 40h1680V30S1340 0 840 0 0 30 0 30z" fill="#FFF"></path>
</svg>
<div id="event-div" class="bg-white hidden">
  <UpcomingEvent
    startDate={event.startDate}
    startMonth={event.startMonth}
    endDate={event.endDate}
    endMonth={event.endMonth}
    title={event.title}
    desc={event.descr}
    imgsrc={event.imgsrc}
  />
</div>

<style>
  .green {
    filter: brightness(0) saturate(100%) invert(98%) sepia(10%) saturate(338%)
      hue-rotate(52deg) brightness(97%) contrast(98%);
  }
</style>

<script define:vars={{ upcomingEvents }}>
  let curve = document.getElementById('curve');
  let event_div = document.getElementById('event-div');
  let about_sec = document.getElementById('about-section');
  let globe_decor = document.getElementById('globe-decor');

  if (upcomingEvents) {
    curve.classList.remove('green');
    event_div.classList.remove('hidden');
    about_sec.classList.add('pt-36');
    globe_decor.classList.remove('top-32');
    globe_decor.classList.add('top-80');
  } else {
    curve.classList.add('green');
    event_div.classList.add('hidden');
    about_sec.classList.remove('pt-36');
    globe_decor.classList.remove('top-80');
    globe_decor.classList.add('top-32');
  }
</script>
