---
import SocialCards from './SocialCards.astro';

const twitter = {
  logo: '/icons/twitter-coloured.svg',
  platform: 'twitter',
  desc: 'Our official Twitter handle. Yes, yes you can rant here as much as you want.',
  link: 'https://twitter.com/gdsc_mpstme',
};
const linkedin = {
  logo: '/icons/linkedin-coloured.svg',
  platform: 'linkedin',
  desc: "This is our business side, so let's keep things a bit formal.",
  link: 'https://www.linkedin.com/company/google-developer-student-club-mpstme',
};
const github = {
  logo: '/icons/github-logo.svg',
  platform: 'github',
  desc: 'Our nerd part, yes. Follow us for some open source greenery.',
  link: 'https://github.com/GDSC-NMIMS-MPSTME-Mumbai',
};
const instagram = {
  logo: '/icons/instagram-coloured.svg',
  platform: 'instagram',
  desc: 'The sassy side of GDSC. Follow us for daily quizzes / event details etcetera.',
  link: 'https://instagram.com/gdsc.mpstme',
};
const gdsc_comm = {
  logo: 'images/gdsc-logo.png',
  platform: 'gdsc',
  desc: 'Find us on the official GDSC Community',
  link: 'https://gdsc.community.dev/mukesh-patel-school-of-technology-management-and-engineering-mumbai/',
};
---

<section
  class="bg-white relative flex flex-col px-8 py-16 pt-36 lg:pt-72 overflow-hidden lg:flex-row"
>
  <div
    class="mt-28 ml-8 md:pl-24 md:mt-48 lg:pl-0 lg:min-w-[35%] lg:mt-40 lg:ml-28"
  >
    <p
      class="font-bold text-5xl text-neutral-500 mb-8 leading-tight md:pr-20 md:mb-3"
    >
      Make sure to be updated with everything we do.
    </p>
    <p class="font-bold text-xl text-neutral-400 p-2">
      Follow us on our socials so you don't miss any future events /
      collaboration / news and while you're at it, make sure to like our posts
      to show us some love!
    </p>
  </div>

  <!-- Social Media Cards -->
  <div class="flex flex-col mt-14 lg:mt-28">
    <div class="flex min-w-max gap-x-7 ml-36 lg:ml-40">
      <SocialCards
        logo={twitter.logo}
        platform={twitter.platform}
        desc={twitter.desc}
        link={twitter.link}
      />
      <SocialCards
        logo={linkedin.logo}
        platform={linkedin.platform}
        desc={linkedin.desc}
        link={linkedin.link}
      />
      <SocialCards
        logo={github.logo}
        platform={github.platform}
        desc={github.desc}
        link={github.link}
      />
    </div>

    <div class="flex min-w-max gap-x-7 ml-20 lg:ml-28">
      <SocialCards
        logo={instagram.logo}
        platform={instagram.platform}
        desc={instagram.desc}
        link={instagram.link}
      />
      <SocialCards
        logo={gdsc_comm.logo}
        platform={gdsc_comm.platform}
        desc={gdsc_comm.desc}
        link={gdsc_comm.link}
      />
      <SocialCards
        logo={twitter.logo}
        platform={twitter.platform}
        desc={twitter.desc}
        link={twitter.link}
      />
    </div>

    <div class="flex min-w-max gap-x-7 ml-24 lg:ml-14">
      <SocialCards
        logo={linkedin.logo}
        platform={linkedin.platform}
        desc={linkedin.desc}
        link={linkedin.link}
      />
      <SocialCards
        logo={github.logo}
        platform={github.platform}
        desc={github.desc}
        link={github.link}
      />
      <SocialCards
        logo={instagram.logo}
        platform={instagram.platform}
        desc={instagram.desc}
        link={instagram.link}
      />
    </div>

    <div class="flex min-w-max gap-x-7 ml-11 lg:ml-0">
      <SocialCards
        logo={github.logo}
        platform={github.platform}
        desc={github.desc}
        link={github.link}
      />
      <SocialCards
        logo={instagram.logo}
        platform={instagram.platform}
        desc={instagram.desc}
        link={instagram.link}
      />
      <SocialCards
        logo={twitter.logo}
        platform={twitter.platform}
        desc={twitter.desc}
        link={twitter.link}
      />
    </div>
  </div>
</section>
