---
import Layout from '../layouts/Layout.astro';
import ArchivedEventCard from '../components/ArchivedEventCard.astro';


const response = await fetch("https://strapi.raindrops.tk/api/events?sort=end_date%3Adesc&populate=image", {
	method: "GET",
    headers: {"Accept": "*/*"} 
}).then(res => res.json())
const data = response.data[0].attributes
const res_array = response.data


function getMonth (num) {
    return {
        '1': 'JAN',
        '2': 'FEB',
        '3': 'MAR',
        '4': 'APR',
        '5': 'MAY',
        '6': 'JUN',
        '7': 'JUL',
        '8': 'AUG',
        '9': 'SEP',
        '10': 'OCT',
        '11': 'NOV',
        '12': 'DEC'
    }[num];
}

const currDate = new Date().toJSON().slice(0,10);
if (data.end_date<=currDate) {
	const UpcomingEvent = true
} else {
	const UpcomingEvent = false
}

const event = {
	date:data.start_date.slice(8,10).concat("-",data.end_date.slice(8,10)),
	month:data.end_date.slice(6,7),
	title:data.name,
	descr:data.summary,
	imgsrc:data.image.data.attributes.formats.large.url,
  type:data.type
}

const month_name = getMonth(event.month);
---

<Layout title="Events | GDSC MPSTME">
  <main>
    <!-- <EventsMain date={event.date} imgsrc={event.imgsrc} descr={event.descr} month={month_name} title={event.title} type={event.type}/> -->

    <div class="flex flex-col relative mt-10 -mb-44 z-10 bg-purple-300 p-10 w-5/6 mx-auto rounded-3xl">
      <div class="text-3xl text-purple-900 ml-auto lg:text-4xl">
          <p class="ml-auto">{event.date}</p>
          <p class="ml-auto text-xl tracking-widest lg:text-2xl lg:ml-14">{month_name}</p>
      </div>
      <div class="flex flex-col lg:flex-row">
          <div>
              <img class=" mb-5 lg:mr-24" src={event.imgsrc} alt="">
          </div>
          <div class="flex flex-col">
              <p class="text-3xl text-center font-bold mb-5 mx-auto lg:mx-0 lg:text-5xl">{event.title}</p>
              <p class="text-lg w-2/5 mx-auto px-2 text-center rounded-full text-white bg-purple-700 mb-5 lg:w-1/6 lg:mx-0 ">{event.type}</p>
              <p class="text-xl text-center mb-5">{event.descr}</p>
              <div class="flex flex-col text-center lg:flex-row">
                  <a class="px-3 py-2 bg-purple-700 text-white mb-3 lg:mb-0 lg:mr-3 lg:w-1/3" href="">More Details</a>
                  <a class="px-3 py-2 border-2 border-purple-700 lg:mb-0 lg:w-1/3" href="">Register</a>
              </div>
          </div>
      </div>
      <img class="hidden lg:block absolute w-24 -top-10 -left-10" src="./decorations/code.svg" alt="">
      <img class="hidden lg:block absolute w-24 bottom-24 transform rotate-12 -right-10" src="./decorations/lines-green.svg" alt="">
  </div>
  
  <div class="clip_top relative bg-yellow-400 bg-opacity-20 p-8 lg:px-32 lg:pt-16 lg:pb-44">
      <img class="hidden absolute lg:block  z-10 w-64 right-0 -bottom-32 " src="./decorations/dots-red.svg" alt=""> <!-- -bottom-28 -->
      <div class="mt-44">
          <div class="flex flex-col">
              <p class="text-xl font-bold text-blue-500">Events Archive</p>
              <p class="text-2xl font-bold">Successful, Memorable Events Organized So Far</p>
          </div>
          <div class="horizontal-scrollbar flex py-8 overflow-x-scroll">
              
              
            {res_array.map((item)=>(
              <ArchivedEventCard date={item.attributes.start_date} imgsrc={item.attributes.image.data.attributes.formats.thumbnail.url} title={item.attributes.name} descr={item.attributes.summary}/>
            ))};
              
  
          </div>
      </div>
      
  </div>
  
  
  
  <div class="clip_bottom flex flex-col p-8 bg-red-500 bg-opacity-20 lg:px-32 lg:py-16">
      <div class="mb-24">
          <div class="mb-6">
              <p class="text-xl font-bold text-blue-500"> 
                  Partner
              </p>
              <p class="text-2xl font-bold">
                  Our Partner Enables Us To Give Our Best
              </p>
          </div>
          <div class="flex flex-col lg:flex-row lg:items-center">
              <img class="mx-auto mb-6 lg:mr-10" src="./images/wolfram-research-logo.png" alt="">
              <div class="text-center lg:text-left">
                  <p class="text-2xl mb-2 font-bold">
                      Wolfram Research, Inc.
                  </p>
                  <p class="text-lg">
                      Founded by Stephen Wolfram in 1987, Wolfram Research is one of the world's most respected computer, web and cloud software companies—as well as a powerhouse of scientific and technical innovation. As a pioneer in computation and computational knowledge, we have pursued a long-term vision to develop the science, technology and tools to make computation an ever-more-potent force in today's and tomorrow's world.
                  </p>
              </div>
          </div>
      </div>
      <img class="hidden lg:block w-32 absolute z-20 -bottom-16" src="./decorations/globe-green.svg" alt="">
      <img class="hidden lg:block w-28 absolute z-20 -bottom-12 left-96" src="./decorations/book-red.svg" alt="">
      <img class="hidden lg:block w-22 absolute z-20 -bottom-6 left-1/2" src="./decorations/apple-yellow.svg" alt="">
      <img class="hidden lg:block w-32 absolute z-20 -bottom-8 right-1/4" src="./decorations/set-square-blue.svg" alt="">
  </div>
  
  <style>
      .horizontal-scrollbar::-webkit-scrollbar {
          width: 5px;
          height: 8px;
          background-color: rgb(255, 255, 255);
          border-radius: 10px;
      }
      .horizontal-scrollbar::-webkit-scrollbar:vertical {
          display: none;
      }
      .horizontal-scrollbar::-webkit-scrollbar-thumb:horizontal {
          background: rgba(251, 191, 14, 1);
          border-radius: 10px;
      }
      .clip_top{
          clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
      }
      .clip_bottom{
          clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 100%);
      }
  </style>
  </main>
</Layout>
