---
import Layout from '../layouts/Layout.astro';
import SocialCards from "../components/SocialCards.astro";

const twitter = {
	logo:"twitter-logo.svg",
	platform:"twitter",
	desc:"Our official Twitter handle. Yes, yes you can rant here as much as you want.",
	link:"https://twitter.com/gdsc_mpstme"
}
const linkedin = {
	logo:"linkedin-logo.svg",
	platform:"linkedin",
	desc:"This is our business side, so let's keep things a bit formal.",
	link:"https://www.linkedin.com/company/google-developer-student-club-mpstme"
}
const github = {
	logo:"github-logo.svg",
	platform:"github",
	desc:"Our nerd part, yes. Follow us for some open source greenery.",
	link:"https://github.com/GDSC-NMIMS-MPSTME-Mumbai"
}
const instagram = {
	logo:"instagram-logo.svg",
	platform:"instagram",
	desc:"The sassy side of GDSC. Follow us for daily quizzes / event details etcetera.",
	link:"https://instagram.com/gdsc.mpstme"
}
const gdsc_comm = {
	logo:"gdsc-logo.svg",
	platform:"gdsc",
	desc:"Find us on the official GDSC Community",
	link:"https://gdsc.community.dev/mukesh-patel-school-of-technology-management-and-engineering-mumbai/"
}
---

<Layout title="Home | GDSC MPSTME">
    <main>
		<!-- Hero Section -->
		<div class="flex flex-col lg:grid lg:grid-cols-2 place-content-around relative">
			<h3 class="px-5 text-4xl text-neutral-500 font-semibold mx-auto mt-10 mb-14 md:text-5xl lg:my-auto lg:text-5xl lg:ml-40">
				Google Developer
				<br>
				Student Club, MPSTME.
				<br>
				A Society.
			</h3>
			<img class="w-4/5 mx-auto lg:w-auto" src="/images/hero-image.svg" alt="Hero Image">
			<img class="absolute w-14 top-20 left-40 hidden lg:block" src="images/decor/decor-1.svg" alt="">	<!-- Decor -->
			<img class="absolute w-14 top-16 left-[50%] hidden lg:block" src="images/decor/decor-2.svg" alt="">	<!-- Decor -->
			<img class="absolute w-12 top-[78%] left-[45%] hidden lg:block" src="images/decor/decor-3.svg" alt="">	<!-- Decor -->
			<img class="absolute top-full h-[400px] z-10 hidden lg:block" src="images/decor/floating-girl-decor.svg" alt=""> <!-- Decor -->
		</div>

		<!-- About Us -->
		<section class="bg-[#E8F5E9] clip-section relative" style="border-radius: 20% 20% 0% 0% / 1% 1% 0% 0% ;">
			<img class="absolute w-32 z-10 top-32 right-0 hidden lg:block" src="images/decor/decoration-globe.svg" alt=""> <!-- Decor -->
			<div class="mt-5 pt-5 lg:my-32">
				<div class="lg:w-4/6 lg:mx-auto">
					<p class="font-bold text-2xl text-[#498AF4] pt-28 pl-10 lg:pt-40">About Us</p>
					<p class="font-bold text-4xl pl-10 tracking-wide leading-snug">What Do We Do?</p>
					<div class="m-7 lg:flex">
						<img class="mx-auto" src="/images/work-img.svg" alt="img">
						<p class="mt-8 mx-2 text-neutral-500 md:mx-16">
							Google Developer Student Clubs are university based community groups for students interested in Google developer technologies. Students from all undergraduate or graduate programs with an interest in growing as a developer are welcome.
							<br>
							<br>
							By joining a GDSC, students grow their knowledge in a peer-to-peer learning environment and build solutions for local businesses and their community.
							<br>
							<br>
							GDSC MPSTME was established in 2021, with its humble beginnings from 10 departments across 6 technical disciplines and flagship events like CodeWars 2021-22 and AI Summit 2021-22 as its legacy.
						</p>
					</div>
				</div>
				<!-- Activity Cards -->
				<div class="mt-28 pb-60 mx-8 md:mx-14 lg:mx-auto lg:max-w-7xl lg:grid lg:grid-cols-3 ">
					<div class="card">
						<header class="text-center text-2xl font-medium mb-5">Competitions</header>
						<img class="mx-auto lg:h-52" src="/images/cards/card-1.svg" alt="card-image">
						<p class="text-center mt-5 text-neutral-500">As a club, we have always strived to bring excellence in our work. The fruit of which comes through the winnings from different competitions that members of the GDSC have taken part in. Take a look at some of our most memorable wins!</p>
					</div>
					<div class="card">
						<header class="text-center text-2xl font-medium mb-5">Projects</header>
						<img class="mx-auto lg:h-52" src="/images/cards/card-2.svg" alt="card-image">
						<p class="text-center mt-5 text-neutral-500">Check out snippets and more details about our projects, see their source-code and see what makes them unique!</p>
					</div>
					<div class="card">
						<header class="text-center text-2xl font-medium mb-5">Workshops</header>
						<img class="mx-auto lg:h-52" src="/images/cards/card-3.svg" alt="card-image">
						<p class="text-center mt-5 text-neutral-500">Have a look at the statistics of our premier events, which have been a beacon of excellence and brought together scores of different developers under the same roof.</p>
					</div>
				</div>
			</div>
			<!-- <img class="absolute right-0 -bottom-40 z-50 hidden lg:block" src="images/decor/yellow-dots-decor.svg" alt=""> Decor -->
		</section>

		<!-- Social Section -->
		<section class="bg-white -z-10 relative flex flex-col px-8 pb-36 overflow-hidden lg:flex-row">
			<div class="mt-28 ml-8 md:pl-24 md:mt-48 lg:pl-0 lg:min-w-[35%] lg:mt-40 lg:ml-28">
				<p class="font-bold text-5xl text-neutral-500 mb-8 leading-tight md:pr-20 md:mb-3">Make sure to be updated with everything we do.</p>
				<p class="font-bold text-xl text-neutral-400 p-2">Follow us on our socials so you don't miss any future events / collaboration / news and while you're at it, make sure to like our posts to show us some love!</p>
			</div>
			
			<!-- Social Media Cards -->
			<div class="flex flex-col mt-14 lg:mt-28">
				<div class="flex min-w-max gap-x-7 ml-36 lg:ml-40">
					<SocialCards logo={twitter.logo} platform={twitter.platform} desc={twitter.desc} link={twitter.link} />
					<SocialCards logo={linkedin.logo} platform={linkedin.platform} desc={linkedin.desc} link={linkedin.link} />
					<SocialCards logo={github.logo} platform={github.platform} desc={github.desc} link={github.link} />
				</div>
		
				<div class="flex min-w-max gap-x-7 ml-20 lg:ml-28">
					<SocialCards logo={instagram.logo} platform={instagram.platform} desc={instagram.desc} link={instagram.link} />
					<SocialCards logo={gdsc_comm.logo} platform={gdsc_comm.platform} desc={gdsc_comm.desc} link={gdsc_comm.link} />
					<SocialCards logo={twitter.logo} platform={twitter.platform} desc={twitter.desc} link={twitter.link} />
				</div>
		
				<div class="flex min-w-max gap-x-7 ml-24 lg:ml-14">
					<SocialCards logo={linkedin.logo} platform={linkedin.platform} desc={linkedin.desc} link={linkedin.link} />
					<SocialCards logo={github.logo} platform={github.platform} desc={github.desc} link={github.link} />
					<SocialCards logo={instagram.logo} platform={instagram.platform} desc={instagram.desc} link={instagram.link} />
				</div>
		
				<div class="flex min-w-max gap-x-7 ml-11 lg:ml-0">
						<SocialCards logo={github.logo} platform={github.platform} desc={github.desc} link={github.link} />
						<SocialCards logo={instagram.logo} platform={instagram.platform} desc={instagram.desc} link={instagram.link} />
						<SocialCards logo={twitter.logo} platform={twitter.platform} desc={twitter.desc} link={twitter.link} />
				</div>
			</div>
		</section>
    </main>
</Layout>

<style>
	.card{
		@apply bg-white border border-green-600 rounded-2xl p-5 mt-5 lg:max-w-sm;
	}

	.clip-section{
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%);
		margin-bottom: -10vw;
	}
</style>