---
import AchievementsDetailsCard from './AchievementsDetailsCard.astro';
import './Style.css';
import { getAchievements } from '../../utils/fetchData';

const achievements = await getAchievements();
---

<div>
  <div class="text-[#498AF4] font-bold text-xl">Achievements Archive</div>
  <div class="text-gray-900 font-bold text-[34px] mb-[35px]">
    Successful, Memorable Achievements So Far
    <div class="flex flex-col mx-auto mt-10 p-auto">
      <div class="flex overflow-x-scroll pb-10 achievementWrapper">
        <div class="flex flex-nowrap">
          {
            achievements.map(achievement => {
              return (
                <AchievementsDetailsCard
                  name={achievement.name}
                  description={achievement.description}
                  imgUrl={achievement.imgUrl}
                  date={achievement.date}
                  contributors={achievement.contributors}
                />
              );
            })
          }
        </div>
      </div>
    </div>
  </div>
</div>
