---
export type Props = Project;

const { name, description, link, imgUrl, contributors } = Astro.props;
---

<div class="inline-block px-3">
  <div
    class="rounded-[24px] bg-white border-[#ffebee] border-4 max-w-xs overflow-hidden w-max h-[100%]"
  >
    <div class="p-5 text-right">
      <a
        href={link}
        class="inline-block bg-[#FBBF0E] rounded-full px-2 py-1 text-[13px] text-white mb-2"
        >💻 Learn More</a
      >
      <img class="mx-auto rounded-lg" src={imgUrl} alt="logo" width="115px" />
      <div class="font-bold text-xl mt-4 text-center">
        {name}
      </div>
      <p class="text-gray-700 text-base my-3 text-center">
        {description}
      </p>
    </div>
    <div class="px-9 pb-5 text-center">
      {
        contributors.map(contributor => {
          return (
            <a
              href={contributor.link}
              class="inline-block bg-gray-200 rounded-full px-2 py-1 text-[13px] font-semibold text-gray-700 mr-2 mb-2"
            >
              {contributor.name}
            </a>
          );
        })
      }
    </div>
  </div>
</div>
