---
import { getProjects } from '../../utils/fetchData';
import ProjectsArchiveCards from './ProjectsArchiveCards.astro';
import './Style.css';

const projects = await getProjects();
---

<div class="text-[#498AF4] font-bold text-xl">Projects Archive</div>
<div class="text-gray-900 font-bold text-[34px] mb-[35px]">
  Take a glance at few of our favourite Projects
</div>

<div class="flex flex-col mx-auto mt-10 p-auto">
  <div class="flex overflow-x-scroll pb-10 mb-10 achievementWrapper">
    <div class="flex flex-nowrap">
      {
        projects.map(project => {
          return (
            <ProjectsArchiveCards
              name={project.name}
              description={project.description}
              imgUrl={project.imgUrl}
              contributors={project.contributors}
              link={project.link}
            />
          );
        })
      }
    </div>
  </div>
</div>
