---
const {date,month,title,descr,imgsrc} = Astro.props

function getMonth (num) {
    return {
        '1': 'Jan',
        '2': 'Feb',
        '3': 'Mar',
        '4': 'Apr',
        '5': 'May',
        '6': 'Jun',
        '7': 'Jul',
        '8': 'Aug',
        '9': 'Sep',
        '10': 'Oct',
        '11': 'Nov',
        '12': 'Dec'
    }[num];
}

const monthName = getMonth(month)
---
<div class="w-4/5 mx-auto py-8 px-14 bg-gdsc-purple-light rounded-3xl relative top-40 z-20">
    <div class="flex flex-col ">
        <p class="text-3xl ml-auto text-purple-900 opacity-80">{date}</p>
        <p class="text-xl ml-auto text-purple-900 uppercase opacity-80">{monthName}</p>
    </div>
    <div class="md:flex md:-mt-12">
        <div class="flex flex-col justify-between items-center text-center">
            <p class="text-4xl font-bold md:mr-auto">{title}</p>
            <div class="flex flex-col md:flex-row">
                <div>
                    <p class="text-lg mt-3 text-justify md:mr-auto">{descr}</p>
                    <div class="flex flex-col mt-4 md:flex-row md:mr-auto">
                        <a class="bg-gdsc-purple text-white rounded-md mb-4 px-5 py-2 md:mr-4" href="">More Details{' >'}</a>
                        <a class="border-2 border-gdsc-purple rounded-md mb-4 px-5 py-2 md:mr-4" href="">Register{' >'}</a>
                    </div>
                </div>
                <img class="mt-8 mx-auto w-56 md:ml-10 lg:w-96 lg:mt-0" src={imgsrc} alt="event-image">
            </div>
        </div>
    </div>
    <img src="/decorations/lines-green.svg" class="absolute top-52 -right-10 w-20 hidden lg:block" alt="">
</div>